/* write your css here */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    padding: 0.5em;
}

li {
    border: 1px solid white;
    color: white;
    padding: 0.5em;
    line-height: 1;
    display: inline-block;
}